.container{
    display: grid;
    place-content: center;
    height: 100vh;
    
}
.table{
    box-shadow: 10px 9px 63px 0px rgba(0, 0, 0, 0.789); 
}
td{
 height: 100px;
width: 100px;
cursor: pointer;
font-size: 35px;
}
#result{
    display:none;
    color: white;
}
.text-white{
    margin-top: -120px;
   text-decoration: underline;
   text-shadow: -2px 1px 1px red;
}
